.MuiPaper-root{
    margin: 1rem auto !important;
}
.col-lg-4{
    display: flex;
}
.wrapper{
    display: flex;
    margin: auto;
    padding: 2rem;
}
@media (max-width:500px) {
    .wrapper{
        margin-top: 1.4rem;
        padding: 1rem;
    }
}